
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section {
    padding: 9rem 0;
  }
  
  .container {
    max-width: 140rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    gap: 9rem;
  }
  
  .grid-two-col {
    grid-template-columns: repeat(2, 1fr);
  }
  
/* ----header----------*/
.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;

}
.navbar-lists{
    display: flex;
    gap: 4.8rem;
}
.navbar-link{
    font-size: 18px;
    color: #F9FAF8;
    text-transform: uppercase;

}

.navbar-link:hover,
.navbar-link:active{
    color: #3882F6;
}
 

/* -----hero section ------  */

.section-hero {
    background-color: #1f2937;
  }
  
  .hero-heading {
    font-size: 48px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
    font-size: 18px;
    color: #E5E7EB;
  }

  .btn{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 1.2rem 3.2rem;
    border: none;
    font-size: 1.8rem;
    font-weight: bolder;
    position: relative;
}

  .section-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .hero-img {
    max-width: 80%;
    }


/*----- service section----*/
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 1000;
    
}
.service-box {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 5rem;
   
}
.card-img{
    width: 300px;
}
.card-heading{
    font-size: 15px;
    text-align: center;
    margin:15px
}
.card-para{
    padding: 0 20px;
    max-width: 60rem;
    font-size: 18px;
}

/*----- testimonial section----*/

.testimonial-section{
    background-color: #e5e7eb;
    color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
}
.testimoniol-para{
    font-family: 'Roboto', sans-serif;;
    font-size: 36px;
    font-style: italic;

    
}
.name{
    float: right;
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
}
/*-----acation section----------*/

.action-box{
    background-color: #3882F6;
    padding: 20px;
    border-radius: 10px;
}
.section-action-data{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: #E5E7EB;
    margin: 30px 150px 30px 150px; 
    
}
span{
    font-weight: bolder;
}
.section-action-para{
    font-size: 18px;
    color: #E5E7EB;
    
}

.section-action-btn {
    color: #F9FAF8;
    border-radius: 7px;
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
    font-weight: bolder;
    position: relative;
    border: 2px solid #F9FAF8;;
}

/*----------Footer------------*/

footer{
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
    width: 100%;
}